body{
    margin: 0;
    padding: 0;
   
 
}

.project-title{
    text-align: center;
    font-size: 1.5rem;
    height: 5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.container{
    background-color: orange;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
    height: 27vh;
    border: solid 2px black;

}

p{
    color: black;
    font-size: 1rem;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}

#quote-generator{
    padding: 9px;
    margin: 42px;
    border-radius: 20px;
    border: solid 2px black;
    background-color: orangered;
    cursor: pointer;
}

@media (min-width: 60rem){
.project-title{
    font-size: 2rem;
}

.container{
    max-width: 30rem;  /* Set a max width to keep the container manageable */
    margin: auto;      /* Center horizontally */
    justify-content: center; /* Flexbox to ensure centering */
    align-items: center;    /* Flexbox to ensure centering */
   
}

p{
    font-size: 1.5rem;
}

#quote-generator{
    width: 9rem;
    text-align: center;
}

}


